In [1]:
#parser: given owl, set up db and write mappings

In [1]:
with open ("../books/books_20_07.owl", "r") as fowl:
    content = fowl.read()
    i = 0
    lines = content.split("\n")
    outstring = ""
    dict_classes = {}
    dict_relations = {}
    dict_attributes = {}
    while (i < len(lines)):
        
        line = lines[i]
        
        if ("follows") in line or ("bo:author_genre" in line and "bo:Book" in line):
            i += 1
            continue
        
        if "Prefix" in lines[i]:
            i += 1
            continue

        if "Declaration(Class" in lines[i]: #from now on, work on this class
            classe = line.split(":")[1][:-2]
            dict_classes[classe] = {}
            dict_classes[classe]["attributes"] = {}
            i += 1
            continue
            
        if "Declaration(ObjectProperty" in lines[i]:
            relation = line.split(":")[1][:-2]
            dict_relations[relation] = {}
            dict_relations[relation]["functional"] = False
            dict_relations[relation]["inv_functional"] = False
            i += 1
            continue
        
        if "Declaration(DataProperty" in lines[i]:
            attribute = line.split(":")[1][:-2]
            dict_attributes[attribute] = {}
            dict_attributes[attribute]["functional"] = False
            dict_attributes[attribute]["inv_functional"] = False
            i += 1
            continue
            
        if "ObjectPropertyDomain" in lines[i]:
            relation = line.split(" ")[0].split(":")[-1]
            domain = line.split(":")[-1][:-1]
            dict_relations[relation]["domain"] = {}
            dict_relations[relation]["domain"]["name"] = domain
            dict_relations[relation]["domain"]["nullable"] = True
            i += 1
            continue
            
        if "DataPropertyDomain" in lines[i]:
            attribute = line.split(" ")[0].split(":")[-1]
            domain = line.split(":")[-1][:-1]
            dict_attributes[attribute]["domain"] = {}
            dict_attributes[attribute]["domain"]["name"] = domain
            dict_attributes[attribute]["domain"]["nullable"] = True
            i += 1
            continue
        
        if "ObjectPropertyRange" in lines[i]:
            relation = line.split(" ")[0].split(":")[-1]
            range_ = line.split(":")[-1][:-1]
            dict_relations[relation]["range"] = {}
            dict_relations[relation]["range"]["name"] = range_
            dict_relations[relation]["range"]["nullable"] = True
            i += 1
            continue
            
        if "DataPropertyRange" in lines[i]:
            attribute = line.split(" ")[0].split(":")[-1]
            range_ = line.split(":")[-1][:-1]
            dict_attributes[attribute]["range"] = {}
            dict_attributes[attribute]["range"]["name"] = range_
            #dict_attributes[attribute]["range"]["nullable"] = True
            i += 1
            continue
        
        if "FunctionalObjectProperty" in lines[i]:
            relation = line.split(":")[-1][:-1]
            dict_relations[relation]["functional"] = True
            i += 1
            continue
            
        if "FunctionalDataProperty" in lines[i]:
            attribute = line.split(":")[-1][:-1]
            dict_attributes[attribute]["functional"] = True
            i += 1
            continue

        if "EquivalentClasses" in lines[i] and "Thing" in lines[i]:
            relation = line.split(":")[2].split(" ")[0].replace(")", "")
            if "ObjectInverseOf" not in lines[i]:
                domain = line.split(":")[1].split(" ")[0]
                dict_relations[relation]["domain"]["nullable"] = False
            else:
                range_ = line.split(":")[1].split(" ")[0]
                dict_relations[relation]["range"]["nullable"] = False
            i += 1
            continue
            
        if "EquivalentClasses" in lines[i] and "rdf" in lines[i]:
            attribute = line.split(":")[2].split(" ")[0].replace(")", "")
            domain = line.split(":")[1].split(" ")[0]
            dict_attributes[attribute]["domain"]["nullable"] = False #no need to work on the range
            i += 1
            continue
            
        i += 1

print(dict_classes)
print("************************")
print (dict_relations)
print("************************")
print (dict_attributes)

{'FictionalNotHuman': {'attributes': {}}, 'Language': {'attributes': {}}, 'Country': {'attributes': {}}, 'Publisher': {'attributes': {}}, 'Edition': {'attributes': {}}, 'Author': {'attributes': {}}, 'Mayor': {'attributes': {}}, 'City': {'attributes': {}}, 'FictionalCharacter': {'attributes': {}}, 'Translator': {'attributes': {}}, 'FictionalHuman': {'attributes': {}}, 'Book': {'attributes': {}}, 'Character': {'attributes': {}}, 'Human': {'attributes': {}}, 'FictionalCity': {'attributes': {}}, 'RealCity': {'attributes': {}}}
************************
{'BookWrittenIn': {'range': {'nullable': True, 'name': 'Language'}, 'domain': {'nullable': False, 'name': 'Book'}, 'functional': False, 'inv_functional': False}, 'hasMayor': {'range': {'nullable': False, 'name': 'Mayor'}, 'domain': {'nullable': True, 'name': 'RealCity'}, 'functional': True, 'inv_functional': False}, 'hasEdition': {'range': {'nullable': False, 'name': 'Edition'}, 'domain': {'nullable': True, 'name': 'Book'}, 'functional': True, 'inv_functional': False}, 'hasCountry': {'range': {'nullable': True, 'name': 'Country'}, 'domain': {'nullable': False, 'name': 'RealCity'}, 'functional': False, 'inv_functional': False}, 'InfluencedBy': {'range': {'nullable': True, 'name': 'Author'}, 'domain': {'nullable': True, 'name': 'Author'}, 'functional': False, 'inv_functional': False}, 'foundedBy': {'range': {'nullable': True, 'name': 'Human'}, 'domain': {'nullable': False, 'name': 'Publisher'}, 'functional': False, 'inv_functional': False}, 'hasPublisher': {'range': {'nullable': False, 'name': 'Publisher'}, 'domain': {'nullable': True, 'name': 'Edition'}, 'functional': False, 'inv_functional': False}, 'speaks': {'range': {'nullable': True, 'name': 'Language'}, 'domain': {'nullable': False, 'name': 'Translator'}, 'functional': False, 'inv_functional': False}, 'hasForewordAuthor': {'range': {'nullable': True, 'name': 'Author'}, 'domain': {'nullable': True, 'name': 'Book'}, 'functional': False, 'inv_functional': False}, 'hasCharacter': {'range': {'nullable': False, 'name': 'Character'}, 'domain': {'nullable': True, 'name': 'Book'}, 'functional': False, 'inv_functional': False}, 'locatedIn': {'range': {'nullable': True, 'name': 'Country'}, 'domain': {'nullable': False, 'name': 'Publisher'}, 'functional': True, 'inv_functional': False}, 'hasRole': {'range': {'nullable': False, 'name': 'Mayor'}, 'domain': {'nullable': True, 'name': 'Human'}, 'functional': False, 'inv_functional': False}, 'hasAfterwordAuthor': {'range': {'nullable': True, 'name': 'Author'}, 'domain': {'nullable': True, 'name': 'Book'}, 'functional': False, 'inv_functional': False}, 'followedBy': {'range': {'nullable': True, 'name': 'Book'}, 'domain': {'nullable': True, 'name': 'Book'}, 'functional': True, 'inv_functional': False}, 'hasCityLocation': {'range': {'nullable': True, 'name': 'City'}, 'domain': {'nullable': True, 'name': 'Book'}, 'functional': False, 'inv_functional': False}, 'PlaceOfDeath': {'range': {'nullable': True, 'name': 'RealCity'}, 'domain': {'nullable': True, 'name': 'Human'}, 'functional': True, 'inv_functional': False}, 'hasUsedLanguage': {'range': {'nullable': False, 'name': 'Language'}, 'domain': {'nullable': False, 'name': 'Country'}, 'functional': False, 'inv_functional': False}, 'PlaceOfBirth': {'range': {'nullable': True, 'name': 'RealCity'}, 'domain': {'nullable': False, 'name': 'Human'}, 'functional': True, 'inv_functional': False}, 'hasIllustrator': {'range': {'nullable': True, 'name': 'Human'}, 'domain': {'nullable': True, 'name': 'Edition'}, 'functional': False, 'inv_functional': False}, 'hasCountryLocation': {'range': {'nullable': True, 'name': 'Country'}, 'domain': {'nullable': True, 'name': 'Book'}, 'functional': False, 'inv_functional': False}, 'hasAuthor': {'range': {'nullable': False, 'name': 'Author'}, 'domain': {'nullable': False, 'name': 'Book'}, 'functional': False, 'inv_functional': False}, 'hasTranslator': {'range': {'nullable': True, 'name': 'Translator'}, 'domain': {'nullable': True, 'name': 'Edition'}, 'functional': False, 'inv_functional': False}, 'hasAnalog': {'range': {'nullable': True, 'name': 'RealCity'}, 'domain': {'nullable': True, 'name': 'FictionalCity'}, 'functional': True, 'inv_functional': False}}
************************
{'country_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Country'}, 'functional': True, 'inv_functional': False}, 'book_id': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Book'}, 'functional': True, 'inv_functional': False}, 'edition_id': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Edition'}, 'functional': True, 'inv_functional': False}, 'edition_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Edition'}, 'functional': True, 'inv_functional': False}, 'city_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'City'}, 'functional': True, 'inv_functional': False}, 'translator_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Translator'}, 'functional': True, 'inv_functional': False}, 'official_residence': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Mayor'}, 'functional': True, 'inv_functional': False}, 'human_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Human'}, 'functional': True, 'inv_functional': False}, 'city_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'City'}, 'functional': True, 'inv_functional': False}, 'subtitle': {'range': {'name': 'string'}, 'domain': {'nullable': True, 'name': 'Book'}, 'functional': True, 'inv_functional': False}, 'human_id': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Human'}, 'functional': True, 'inv_functional': False}, 'book_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Book'}, 'functional': True, 'inv_functional': False}, 'DoD': {'range': {'name': 'string'}, 'domain': {'nullable': True, 'name': 'Human'}, 'functional': True, 'inv_functional': False}, 'start_time': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Mayor'}, 'functional': True, 'inv_functional': False}, 'author_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Author'}, 'functional': True, 'inv_functional': False}, 'character_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Character'}, 'functional': True, 'inv_functional': False}, 'end_time': {'range': {'name': 'string'}, 'domain': {'nullable': True, 'name': 'Mayor'}, 'functional': True, 'inv_functional': False}, 'author_genre': {'range': {'name': 'string'}, 'domain': {'nullable': True, 'name': 'Author'}, 'functional': False, 'inv_functional': False}, 'inception': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Publisher'}, 'functional': True, 'inv_functional': False}, 'edition_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Edition'}, 'functional': True, 'inv_functional': False}, 'character_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Character'}, 'functional': True, 'inv_functional': False}, 'character_id': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Character'}, 'functional': True, 'inv_functional': False}, 'award': {'range': {'name': 'string'}, 'domain': {'nullable': True, 'name': 'Author'}, 'functional': False, 'inv_functional': False}, 'character_DoB': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Character'}, 'functional': True, 'inv_functional': False}, 'language_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Language'}, 'functional': True, 'inv_functional': False}, 'character_name': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Character'}, 'functional': True, 'inv_functional': False}, 'city_id': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'City'}, 'functional': True, 'inv_functional': False}, 'character_DoD': {'range': {'name': 'string'}, 'domain': {'nullable': True, 'name': 'Character'}, 'functional': True, 'inv_functional': False}, 'publisher_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Publisher'}, 'functional': True, 'inv_functional': False}, 'title': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Book'}, 'functional': True, 'inv_functional': False}, 'area': {'range': {'name': 'string'}, 'domain': {'nullable': True, 'name': 'RealCity'}, 'functional': True, 'inv_functional': False}, 'language_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Language'}, 'functional': True, 'inv_functional': False}, 'mayor_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Mayor'}, 'functional': True, 'inv_functional': False}, 'author_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Author'}, 'functional': True, 'inv_functional': False}, 'num_speakers': {'range': {'name': 'string'}, 'domain': {'nullable': True, 'name': 'Language'}, 'functional': True, 'inv_functional': False}, 'mayor_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Mayor'}, 'functional': True, 'inv_functional': False}, 'publisher_id': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Publisher'}, 'functional': True, 'inv_functional': False}, 'country_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Country'}, 'functional': True, 'inv_functional': False}, 'population': {'range': {'name': 'string'}, 'domain': {'nullable': True, 'name': 'RealCity'}, 'functional': True, 'inv_functional': False}, 'book_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Book'}, 'functional': True, 'inv_functional': False}, 'name': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Human'}, 'functional': True, 'inv_functional': False}, 'character_sex': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Character'}, 'functional': True, 'inv_functional': False}, 'country_id': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Country'}, 'functional': True, 'inv_functional': False}, 'mayor_id': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Mayor'}, 'functional': True, 'inv_functional': False}, 'sex': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Human'}, 'functional': True, 'inv_functional': False}, 'translator_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Translator'}, 'functional': True, 'inv_functional': False}, 'publisher_description': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Publisher'}, 'functional': True, 'inv_functional': False}, 'language_id': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Language'}, 'functional': True, 'inv_functional': False}, 'human_label': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Human'}, 'functional': True, 'inv_functional': False}, 'DoB': {'range': {'name': 'string'}, 'domain': {'nullable': False, 'name': 'Human'}, 'functional': True, 'inv_functional': False}}

In [2]:
relazioni_da_accorpare = ["hasMayor"]
relazioni_da_accorpare = []
#'character_id': {'range': {'name': 'character_id> xsd:strin'}, 'domain': {'name': 'Character', 'nullable': False}, 'functional': True, 'inv_functional': False}

In [4]:
#dict_attributes.keys()

In [3]:
for attribute in dict_attributes.keys():
    if dict_attributes[attribute]["functional"] == False: #va reificata la ER-relazione e creata una nuova relazione
        #print(attribute, "**********attr")
        new_class = attribute.title()
        dict_classes[new_class] = {}
        dict_classes[new_class]["attributes"] = {}
        attribute_name = new_class.lower() + "_id"
        dict_classes[new_class]["attributes"][attribute_name] = {}
        dict_classes[new_class]["attributes"][attribute_name]["typ"] = "varchar (255)"
        dict_classes[new_class]["attributes"][attribute_name]["nullable"] = False

        new_relation = "has" + attribute.title()
        dict_relations[new_relation] = {}
        dict_relations[new_relation]["domain"] = {}
        dict_relations[new_relation]["domain"]["name"] = dict_attributes[attribute]["domain"]["name"]
        dict_relations[new_relation]["domain"]["nullable"] = dict_attributes[attribute]["domain"]["nullable"]
        dict_relations[new_relation]["range"] = {}
        dict_relations[new_relation]["range"]["name"] = new_class
        dict_relations[new_relation]["range"]["nullable"] = False
        dict_relations[new_relation]["functional"] = False
        dict_relations[new_relation]["inv_functional"] = False
    else: #assign attributes to classes
        class_ = dict_attributes[attribute]["domain"]["name"]
        #print(class_)
        nullable = dict_attributes[attribute]["domain"]["nullable"]
        typ = "varchar (255)"
        dict_classes[class_]["attributes"][attribute] = {}
        dict_classes[class_]["attributes"][attribute]["typ"] = typ
        dict_classes[class_]["attributes"][attribute]["nullable"] = nullable


for relation in dict_relations.keys():
    if relation in relazioni_da_accorpare and dict_relations[relation]["functional"] == True: #va accorpata, con precedenza sul dominio
        #print(relation, "**********")
        class_ = dict_relations[relation]["domain"]["name"]
        new_attribute = dict_relations[relation]["range"]["name"]
        nullable = dict_relations[relation]["domain"]["nullable"]
        typ = "varchar (255)"
        dict_classes[class_]["attributes"][relation] = {}
        dict_classes[class_]["attributes"][relation]["typ"] = typ
        dict_classes[class_]["attributes"][relation]["nullable"] = nullable
    elif relation in relazioni_da_accorpare and dict_relations[relation]["inv_functional"] == True:
        #print(relation, "*INV**********")
        class_ = dict_relations[relation]["range"]["name"]
        new_attribute = dict_relations[relation]["domain"]["name"]
        nullable = dict_relations[relation]["range"]["nullable"]
        typ = "varchar (255)"
        dict_classes[class_]["attributes"][relation] = {}
        dict_classes[class_]["attributes"][relation]["typ"] = typ
        dict_classes[class_]["attributes"][relation]["nullable"] = nullable
        dict_classes[class_]["attributes"][relation]["references"] = new_attribute
    else: 
        print(relation)
        domain = dict_relations[relation]["domain"]["name"]
        range_ = dict_relations[relation]["range"]["name"]
        dict_classes[relation] = {}
        dict_classes[relation]["attributes"] = {}
        dict_classes[relation]["attributes"][domain.lower() + "_id"] = {}
        dict_classes[relation]["attributes"][domain.lower() + "_id"]["references"] = domain
        dict_classes[relation]["attributes"][domain.lower() + "_id"]["typ"] = "varchar (255)"
        dict_classes[relation]["attributes"][domain.lower() + "_id"]["nullable"] = dict_relations[relation]["domain"]["nullable"]
        dict_classes[relation]["attributes"][range_.lower() + "_id"] = {}
        dict_classes[relation]["attributes"][range_.lower() + "_id"]["references"] = range_
        dict_classes[relation]["attributes"][range_.lower() + "_id"]["typ"] = "varchar (255)"
        dict_classes[relation]["attributes"][range_.lower() + "_id"]["nullable"] = dict_relations[relation]["range"]["nullable"]


print(dict_classes)
print("************************")
'''print (dict_relations)
print("************************")
print (dict_attributes)    
print("************************")       '''

BookWrittenIn
hasMayor
hasAuthor_Genre
hasEdition
hasCountry
InfluencedBy
foundedBy
hasAward
hasPublisher
speaks
hasForewordAuthor
hasCharacter
locatedIn
hasRole
hasAfterwordAuthor
followedBy
hasCityLocation
PlaceOfDeath
hasUsedLanguage
PlaceOfBirth
hasIllustrator
hasCountryLocation
hasAuthor
hasTranslator
hasAnalog
{'foundedBy': {'attributes': {'publisher_id': {'references': 'Publisher', 'nullable': False, 'typ': 'varchar (255)'}, 'human_id': {'references': 'Human', 'nullable': True, 'typ': 'varchar (255)'}}}, 'hasCityLocation': {'attributes': {'city_id': {'references': 'City', 'nullable': True, 'typ': 'varchar (255)'}, 'book_id': {'references': 'Book', 'nullable': True, 'typ': 'varchar (255)'}}}, 'FictionalNotHuman': {'attributes': {}}, 'hasMayor': {'attributes': {'mayor_id': {'references': 'Mayor', 'nullable': False, 'typ': 'varchar (255)'}, 'realcity_id': {'references': 'RealCity', 'nullable': True, 'typ': 'varchar (255)'}}}, 'hasAuthor_Genre': {'attributes': {'author_genre_id': {'references': 'Author_Genre', 'nullable': False, 'typ': 'varchar (255)'}, 'author_id': {'references': 'Author', 'nullable': True, 'typ': 'varchar (255)'}}}, 'Language': {'attributes': {'language_label': {'nullable': False, 'typ': 'varchar (255)'}, 'language_id': {'nullable': False, 'typ': 'varchar (255)'}, 'language_description': {'nullable': False, 'typ': 'varchar (255)'}, 'num_speakers': {'nullable': True, 'typ': 'varchar (255)'}}}, 'hasEdition': {'attributes': {'edition_id': {'references': 'Edition', 'nullable': False, 'typ': 'varchar (255)'}, 'book_id': {'references': 'Book', 'nullable': True, 'typ': 'varchar (255)'}}}, 'Edition': {'attributes': {'edition_id': {'nullable': False, 'typ': 'varchar (255)'}, 'edition_label': {'nullable': False, 'typ': 'varchar (255)'}, 'edition_description': {'nullable': False, 'typ': 'varchar (255)'}}}, 'Author': {'attributes': {'author_label': {'nullable': False, 'typ': 'varchar (255)'}, 'author_description': {'nullable': False, 'typ': 'varchar (255)'}}}, 'Mayor': {'attributes': {'mayor_id': {'nullable': False, 'typ': 'varchar (255)'}, 'start_time': {'nullable': False, 'typ': 'varchar (255)'}, 'mayor_label': {'nullable': False, 'typ': 'varchar (255)'}, 'mayor_description': {'nullable': False, 'typ': 'varchar (255)'}, 'official_residence': {'nullable': False, 'typ': 'varchar (255)'}, 'end_time': {'nullable': True, 'typ': 'varchar (255)'}}}, 'BookWrittenIn': {'attributes': {'language_id': {'references': 'Language', 'nullable': True, 'typ': 'varchar (255)'}, 'book_id': {'references': 'Book', 'nullable': False, 'typ': 'varchar (255)'}}}, 'hasAward': {'attributes': {'award_id': {'references': 'Award', 'nullable': False, 'typ': 'varchar (255)'}, 'author_id': {'references': 'Author', 'nullable': True, 'typ': 'varchar (255)'}}}, 'Translator': {'attributes': {'translator_label': {'nullable': False, 'typ': 'varchar (255)'}, 'translator_description': {'nullable': False, 'typ': 'varchar (255)'}}}, 'FictionalHuman': {'attributes': {}}, 'Book': {'attributes': {'book_description': {'nullable': False, 'typ': 'varchar (255)'}, 'book_label': {'nullable': False, 'typ': 'varchar (255)'}, 'book_id': {'nullable': False, 'typ': 'varchar (255)'}, 'title': {'nullable': False, 'typ': 'varchar (255)'}, 'subtitle': {'nullable': True, 'typ': 'varchar (255)'}}}, 'speaks': {'attributes': {'language_id': {'references': 'Language', 'nullable': True, 'typ': 'varchar (255)'}, 'translator_id': {'references': 'Translator', 'nullable': False, 'typ': 'varchar (255)'}}}, 'Character': {'attributes': {'character_description': {'nullable': False, 'typ': 'varchar (255)'}, 'character_DoD': {'nullable': True, 'typ': 'varchar (255)'}, 'character_id': {'nullable': False, 'typ': 'varchar (255)'}, 'character_label': {'nullable': False, 'typ': 'varchar (255)'}, 'character_name': {'nullable': False, 'typ': 'varchar (255)'}, 'character_sex': {'nullable': False, 'typ': 'varchar (255)'}, 'character_DoB': {'nullable': False, 'typ': 'varchar (255)'}}}, 'hasForewordAuthor': {'attributes': {'book_id': {'references': 'Book', 'nullable': True, 'typ': 'varchar (255)'}, 'author_id': {'references': 'Author', 'nullable': True, 'typ': 'varchar (255)'}}}, 'Human': {'attributes': {'human_description': {'nullable': False, 'typ': 'varchar (255)'}, 'human_id': {'nullable': False, 'typ': 'varchar (255)'}, 'sex': {'nullable': False, 'typ': 'varchar (255)'}, 'DoD': {'nullable': True, 'typ': 'varchar (255)'}, 'human_label': {'nullable': False, 'typ': 'varchar (255)'}, 'name': {'nullable': False, 'typ': 'varchar (255)'}, 'DoB': {'nullable': False, 'typ': 'varchar (255)'}}}, 'hasCharacter': {'attributes': {'character_id': {'references': 'Character', 'nullable': False, 'typ': 'varchar (255)'}, 'book_id': {'references': 'Book', 'nullable': True, 'typ': 'varchar (255)'}}}, 'locatedIn': {'attributes': {'publisher_id': {'references': 'Publisher', 'nullable': False, 'typ': 'varchar (255)'}, 'country_id': {'references': 'Country', 'nullable': True, 'typ': 'varchar (255)'}}}, 'FictionalCity': {'attributes': {}}, 'hasUsedLanguage': {'attributes': {'language_id': {'references': 'Language', 'nullable': False, 'typ': 'varchar (255)'}, 'country_id': {'references': 'Country', 'nullable': False, 'typ': 'varchar (255)'}}}, 'RealCity': {'attributes': {'area': {'nullable': True, 'typ': 'varchar (255)'}, 'population': {'nullable': True, 'typ': 'varchar (255)'}}}, 'Award': {'attributes': {'award_id': {'nullable': False, 'typ': 'varchar (255)'}}}, 'hasPublisher': {'attributes': {'edition_id': {'references': 'Edition', 'nullable': True, 'typ': 'varchar (255)'}, 'publisher_id': {'references': 'Publisher', 'nullable': False, 'typ': 'varchar (255)'}}}, 'hasAuthor': {'attributes': {'book_id': {'references': 'Book', 'nullable': False, 'typ': 'varchar (255)'}, 'author_id': {'references': 'Author', 'nullable': False, 'typ': 'varchar (255)'}}}, 'Country': {'attributes': {'country_description': {'nullable': False, 'typ': 'varchar (255)'}, 'country_label': {'nullable': False, 'typ': 'varchar (255)'}, 'country_id': {'nullable': False, 'typ': 'varchar (255)'}}}, 'Publisher': {'attributes': {'inception': {'nullable': False, 'typ': 'varchar (255)'}, 'publisher_description': {'nullable': False, 'typ': 'varchar (255)'}, 'publisher_id': {'nullable': False, 'typ': 'varchar (255)'}, 'publisher_label': {'nullable': False, 'typ': 'varchar (255)'}}}, 'hasRole': {'attributes': {'mayor_id': {'references': 'Mayor', 'nullable': False, 'typ': 'varchar (255)'}, 'human_id': {'references': 'Human', 'nullable': True, 'typ': 'varchar (255)'}}}, 'hasAfterwordAuthor': {'attributes': {'book_id': {'references': 'Book', 'nullable': True, 'typ': 'varchar (255)'}, 'author_id': {'references': 'Author', 'nullable': True, 'typ': 'varchar (255)'}}}, 'City': {'attributes': {'city_id': {'nullable': False, 'typ': 'varchar (255)'}, 'city_description': {'nullable': False, 'typ': 'varchar (255)'}, 'city_label': {'nullable': False, 'typ': 'varchar (255)'}}}, 'FictionalCharacter': {'attributes': {}}, 'PlaceOfDeath': {'attributes': {'realcity_id': {'references': 'RealCity', 'nullable': True, 'typ': 'varchar (255)'}, 'human_id': {'references': 'Human', 'nullable': True, 'typ': 'varchar (255)'}}}, 'followedBy': {'attributes': {'book_id': {'references': 'Book', 'nullable': True, 'typ': 'varchar (255)'}}}, 'PlaceOfBirth': {'attributes': {'realcity_id': {'references': 'RealCity', 'nullable': True, 'typ': 'varchar (255)'}, 'human_id': {'references': 'Human', 'nullable': False, 'typ': 'varchar (255)'}}}, 'hasTranslator': {'attributes': {'edition_id': {'references': 'Edition', 'nullable': True, 'typ': 'varchar (255)'}, 'translator_id': {'references': 'Translator', 'nullable': True, 'typ': 'varchar (255)'}}}, 'hasCountry': {'attributes': {'realcity_id': {'references': 'RealCity', 'nullable': False, 'typ': 'varchar (255)'}, 'country_id': {'references': 'Country', 'nullable': True, 'typ': 'varchar (255)'}}}, 'hasCountryLocation': {'attributes': {'book_id': {'references': 'Book', 'nullable': True, 'typ': 'varchar (255)'}, 'country_id': {'references': 'Country', 'nullable': True, 'typ': 'varchar (255)'}}}, 'Author_Genre': {'attributes': {'author_genre_id': {'nullable': False, 'typ': 'varchar (255)'}}}, 'InfluencedBy': {'attributes': {'author_id': {'references': 'Author', 'nullable': True, 'typ': 'varchar (255)'}}}, 'hasIllustrator': {'attributes': {'edition_id': {'references': 'Edition', 'nullable': True, 'typ': 'varchar (255)'}, 'human_id': {'references': 'Human', 'nullable': True, 'typ': 'varchar (255)'}}}, 'hasAnalog': {'attributes': {'fictionalcity_id': {'references': 'FictionalCity', 'nullable': True, 'typ': 'varchar (255)'}, 'realcity_id': {'references': 'RealCity', 'nullable': True, 'typ': 'varchar (255)'}}}}
************************

'print (dict_relations)\nprint("************************")\nprint (dict_attributes)    \nprint("************************")       '

In [4]:
#generate strings and write to file

In [5]:
outstring_create = "CREATE DATABASE bookDB;\n\nUSE bookDB;\n\n"
outstring_insert = ""

with open("create.sql", "w") as cf, open("insert.sql", "w") as insf:
    for class_ in dict_classes.keys():
        referencing = False
        outstring_create += "CREATE TABLE " + class_ + "(" + "\n"
        #print(class_)
        for attribute in dict_classes[class_]["attributes"]:
            outstring_create += "\t" + attribute
            outstring_create +=   " " + dict_classes[class_]["attributes"][attribute]["typ"] 
            if "_id" in attribute:
                outstring_create += " " + " primary key"
            elif not dict_classes[class_]["attributes"][attribute]["nullable"]:
                outstring_create += " " + "not null"
            outstring_create += ",\n"
            if "references" in (dict_classes[class_]["attributes"][attribute]).keys():
                referencing = True
                outstring_create += "\tforeign key " + \
                "("+ attribute + ") references " + \
                dict_classes[class_]["attributes"][attribute]["references"] + "(" + \
                dict_classes[class_]["attributes"][attribute]["references"].lower() + "_id),\n"
        '''for attribute in dict_classes[class_]["attributes"]:
            if "references" in (dict_classes[class_]["attributes"][attribute]).keys():
                outstring_create += "\tprimary key (" + attribute + "," + \
                dict_classes[class_]["attributes"][attribute]["references"].lower() + "_id),\n"'''
        outstring_create = outstring_create.rstrip()[:-1] #remove comma and newline
        outstring_create += ");\n\n" 

        if referencing:
            relative_path = "../roles/" + class_
        else:
            relative_path = "../concepts/" + class_
        outstring_insert += "LOAD DATA LOCAL INFILE " +  relative_path + ".txt INTO TABLE " + class_ + "\nFIELDS TERMINATED BY ';'\nENCLOSED BY '\"'"+\
        "\nLINES TERMINATED BY '\\n'\nIGNORE 1 LINES;\n\n"


    print(outstring_create)
    print(outstring_insert)
    insf.write(outstring_insert)
    cf.write(outstring_create)

CREATE DATABASE bookDB;

USE bookDB;

CREATE TABLE foundedBy(
	publisher_id varchar (255)  primary key,
	foreign key (publisher_id) references Publisher(publisher_id),
	human_id varchar (255)  primary key,
	foreign key (human_id) references Human(human_id));

CREATE TABLE hasCityLocation(
	city_id varchar (255)  primary key,
	foreign key (city_id) references City(city_id),
	book_id varchar (255)  primary key,
	foreign key (book_id) references Book(book_id));

CREATE TABLE FictionalNotHuman);

CREATE TABLE hasMayor(
	mayor_id varchar (255)  primary key,
	foreign key (mayor_id) references Mayor(mayor_id),
	realcity_id varchar (255)  primary key,
	foreign key (realcity_id) references RealCity(realcity_id));

CREATE TABLE hasAuthor_Genre(
	author_genre_id varchar (255)  primary key,
	foreign key (author_genre_id) references Author_Genre(author_genre_id),
	author_id varchar (255)  primary key,
	foreign key (author_id) references Author(author_id));

CREATE TABLE Language(
	language_label varchar (255) not null,
	language_id varchar (255)  primary key,
	language_description varchar (255) not null,
	num_speakers varchar (255));

CREATE TABLE hasEdition(
	edition_id varchar (255)  primary key,
	foreign key (edition_id) references Edition(edition_id),
	book_id varchar (255)  primary key,
	foreign key (book_id) references Book(book_id));

CREATE TABLE Edition(
	edition_id varchar (255)  primary key,
	edition_label varchar (255) not null,
	edition_description varchar (255) not null);

CREATE TABLE Author(
	author_label varchar (255) not null,
	author_description varchar (255) not null);

CREATE TABLE Mayor(
	mayor_id varchar (255)  primary key,
	start_time varchar (255) not null,
	mayor_label varchar (255) not null,
	mayor_description varchar (255) not null,
	official_residence varchar (255) not null,
	end_time varchar (255));

CREATE TABLE BookWrittenIn(
	language_id varchar (255)  primary key,
	foreign key (language_id) references Language(language_id),
	book_id varchar (255)  primary key,
	foreign key (book_id) references Book(book_id));

CREATE TABLE hasAward(
	award_id varchar (255)  primary key,
	foreign key (award_id) references Award(award_id),
	author_id varchar (255)  primary key,
	foreign key (author_id) references Author(author_id));

CREATE TABLE Translator(
	translator_label varchar (255) not null,
	translator_description varchar (255) not null);

CREATE TABLE FictionalHuman);

CREATE TABLE Book(
	book_description varchar (255) not null,
	book_label varchar (255) not null,
	book_id varchar (255)  primary key,
	title varchar (255) not null,
	subtitle varchar (255));

CREATE TABLE speaks(
	language_id varchar (255)  primary key,
	foreign key (language_id) references Language(language_id),
	translator_id varchar (255)  primary key,
	foreign key (translator_id) references Translator(translator_id));

CREATE TABLE Character(
	character_description varchar (255) not null,
	character_DoD varchar (255),
	character_id varchar (255)  primary key,
	character_label varchar (255) not null,
	character_name varchar (255) not null,
	character_sex varchar (255) not null,
	character_DoB varchar (255) not null);

CREATE TABLE hasForewordAuthor(
	book_id varchar (255)  primary key,
	foreign key (book_id) references Book(book_id),
	author_id varchar (255)  primary key,
	foreign key (author_id) references Author(author_id));

CREATE TABLE Human(
	human_description varchar (255) not null,
	human_id varchar (255)  primary key,
	sex varchar (255) not null,
	DoD varchar (255),
	human_label varchar (255) not null,
	name varchar (255) not null,
	DoB varchar (255) not null);

CREATE TABLE hasCharacter(
	character_id varchar (255)  primary key,
	foreign key (character_id) references Character(character_id),
	book_id varchar (255)  primary key,
	foreign key (book_id) references Book(book_id));

CREATE TABLE locatedIn(
	publisher_id varchar (255)  primary key,
	foreign key (publisher_id) references Publisher(publisher_id),
	country_id varchar (255)  primary key,
	foreign key (country_id) references Country(country_id));

CREATE TABLE FictionalCity);

CREATE TABLE hasUsedLanguage(
	language_id varchar (255)  primary key,
	foreign key (language_id) references Language(language_id),
	country_id varchar (255)  primary key,
	foreign key (country_id) references Country(country_id));

CREATE TABLE RealCity(
	area varchar (255),
	population varchar (255));

CREATE TABLE Award(
	award_id varchar (255)  primary key);

CREATE TABLE hasPublisher(
	edition_id varchar (255)  primary key,
	foreign key (edition_id) references Edition(edition_id),
	publisher_id varchar (255)  primary key,
	foreign key (publisher_id) references Publisher(publisher_id));

CREATE TABLE hasAuthor(
	book_id varchar (255)  primary key,
	foreign key (book_id) references Book(book_id),
	author_id varchar (255)  primary key,
	foreign key (author_id) references Author(author_id));

CREATE TABLE Country(
	country_description varchar (255) not null,
	country_label varchar (255) not null,
	country_id varchar (255)  primary key);

CREATE TABLE Publisher(
	inception varchar (255) not null,
	publisher_description varchar (255) not null,
	publisher_id varchar (255)  primary key,
	publisher_label varchar (255) not null);

CREATE TABLE hasRole(
	mayor_id varchar (255)  primary key,
	foreign key (mayor_id) references Mayor(mayor_id),
	human_id varchar (255)  primary key,
	foreign key (human_id) references Human(human_id));

CREATE TABLE hasAfterwordAuthor(
	book_id varchar (255)  primary key,
	foreign key (book_id) references Book(book_id),
	author_id varchar (255)  primary key,
	foreign key (author_id) references Author(author_id));

CREATE TABLE City(
	city_id varchar (255)  primary key,
	city_description varchar (255) not null,
	city_label varchar (255) not null);

CREATE TABLE FictionalCharacter);

CREATE TABLE PlaceOfDeath(
	realcity_id varchar (255)  primary key,
	foreign key (realcity_id) references RealCity(realcity_id),
	human_id varchar (255)  primary key,
	foreign key (human_id) references Human(human_id));

CREATE TABLE followedBy(
	book_id varchar (255)  primary key,
	foreign key (book_id) references Book(book_id));

CREATE TABLE PlaceOfBirth(
	realcity_id varchar (255)  primary key,
	foreign key (realcity_id) references RealCity(realcity_id),
	human_id varchar (255)  primary key,
	foreign key (human_id) references Human(human_id));

CREATE TABLE hasTranslator(
	edition_id varchar (255)  primary key,
	foreign key (edition_id) references Edition(edition_id),
	translator_id varchar (255)  primary key,
	foreign key (translator_id) references Translator(translator_id));

CREATE TABLE hasCountry(
	realcity_id varchar (255)  primary key,
	foreign key (realcity_id) references RealCity(realcity_id),
	country_id varchar (255)  primary key,
	foreign key (country_id) references Country(country_id));

CREATE TABLE hasCountryLocation(
	book_id varchar (255)  primary key,
	foreign key (book_id) references Book(book_id),
	country_id varchar (255)  primary key,
	foreign key (country_id) references Country(country_id));

CREATE TABLE Author_Genre(
	author_genre_id varchar (255)  primary key);

CREATE TABLE InfluencedBy(
	author_id varchar (255)  primary key,
	foreign key (author_id) references Author(author_id));

CREATE TABLE hasIllustrator(
	edition_id varchar (255)  primary key,
	foreign key (edition_id) references Edition(edition_id),
	human_id varchar (255)  primary key,
	foreign key (human_id) references Human(human_id));

CREATE TABLE hasAnalog(
	fictionalcity_id varchar (255)  primary key,
	foreign key (fictionalcity_id) references FictionalCity(fictionalcity_id),
	realcity_id varchar (255)  primary key,
	foreign key (realcity_id) references RealCity(realcity_id));


LOAD DATA LOCAL INFILE ../roles/foundedBy.txt INTO TABLE foundedBy
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasCityLocation.txt INTO TABLE hasCityLocation
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/FictionalNotHuman.txt INTO TABLE FictionalNotHuman
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasMayor.txt INTO TABLE hasMayor
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasAuthor_Genre.txt INTO TABLE hasAuthor_Genre
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Language.txt INTO TABLE Language
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasEdition.txt INTO TABLE hasEdition
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Edition.txt INTO TABLE Edition
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Author.txt INTO TABLE Author
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Mayor.txt INTO TABLE Mayor
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/BookWrittenIn.txt INTO TABLE BookWrittenIn
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasAward.txt INTO TABLE hasAward
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Translator.txt INTO TABLE Translator
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/FictionalHuman.txt INTO TABLE FictionalHuman
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Book.txt INTO TABLE Book
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/speaks.txt INTO TABLE speaks
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Character.txt INTO TABLE Character
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasForewordAuthor.txt INTO TABLE hasForewordAuthor
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Human.txt INTO TABLE Human
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasCharacter.txt INTO TABLE hasCharacter
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/locatedIn.txt INTO TABLE locatedIn
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/FictionalCity.txt INTO TABLE FictionalCity
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasUsedLanguage.txt INTO TABLE hasUsedLanguage
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/RealCity.txt INTO TABLE RealCity
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Award.txt INTO TABLE Award
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasPublisher.txt INTO TABLE hasPublisher
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasAuthor.txt INTO TABLE hasAuthor
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Country.txt INTO TABLE Country
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Publisher.txt INTO TABLE Publisher
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasRole.txt INTO TABLE hasRole
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasAfterwordAuthor.txt INTO TABLE hasAfterwordAuthor
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/City.txt INTO TABLE City
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/FictionalCharacter.txt INTO TABLE FictionalCharacter
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/PlaceOfDeath.txt INTO TABLE PlaceOfDeath
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/followedBy.txt INTO TABLE followedBy
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/PlaceOfBirth.txt INTO TABLE PlaceOfBirth
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasTranslator.txt INTO TABLE hasTranslator
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasCountry.txt INTO TABLE hasCountry
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasCountryLocation.txt INTO TABLE hasCountryLocation
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../concepts/Author_Genre.txt INTO TABLE Author_Genre
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/InfluencedBy.txt INTO TABLE InfluencedBy
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasIllustrator.txt INTO TABLE hasIllustrator
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE ../roles/hasAnalog.txt INTO TABLE hasAnalog
FIELDS TERMINATED BY ';'
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

In [7]:
base_iri = "http://books/"
outstring_mappings = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n" + \
"<OBDA version=\"1.0\">\n" + \
    "<dataSource databaseDriver=\"org.postgresql.Driver\" databaseName=\"\"\n"+\
        "databasePassword=\"postgres\"\n"+\
        "databaseURL=\"jdbc:postgresql://localhost/comics_db\"\n"+\
        "databaseUsername=\"postgres\" name=\"datasource\"/>\n"+\
    "<prefixes>\n"+\
        "<prefix name=\"owl:\" namespace=\"http://www.w3.org/2002/07/owl#\"/>\n"+\
        "<prefix name=\"rdf:\" namespace=\"http://www.w3.org/1999/02/22-rdf-syntax-ns#\"/>\n"+\
        "<prefix name=\"sh:\" namespace=\"" + base_iri + "/#>\n"+\
        "<prefix name=\"xsd:\" namespace=\"http://www.w3.org/2001/XMLSchema#\"/>\n"+\
        "<prefix name=\":\" namespace=\"" + base_iri + ">\n"+\
        "<prefix name=\"xml:\" namespace=\"http://www.w3.org/XML/1998/namespace\"/>\n"+\
        "<prefix name=\"rdfs:\" namespace=\"http://www.w3.org/2000/01/rdf-schema#\"/>\n"+\
    "</prefixes>\n"

with open("book_mappings.xml", "w") as mapf:
    
    #templates
    outstring_mappings += "<templates>\n"
    for class_ in dict_classes.keys():
        outstring_mappings += "<template>http://books/" + class_.lower() + "_{_}</template>\n"
    outstring_mappings += "</templates>\n"
    
    #mappings, sql included
    outstring_mappings += "<mappings>\n"
    mapping_counter = 0
    for class_ in dict_classes.keys():
        mapping_counter += 1
        attributes_set = set()
        from_relation = False
        for attribute in dict_classes[class_]["attributes"]:
            attributes_set.add(attribute)
            if "references" in (dict_classes[class_]["attributes"][attribute]).keys():
                from_relation = True
        if from_relation:
            word = "role"
            domain = "DOM"
            range_ = "RANGE"
        else:
            word = "concept"
        query = "SELECT "
        head_string = "\n<HEAD string=\"" + class_ + "_view("
        for attr in attributes_set:
            query += class_[0].lower() + "." + attr + " AS " + attr + ", "
            head_string += attr + ", "
        head_string = head_string[:-2]
        head_string += ")\"/>"
        query = query[:-2]
        query += " FROM book_db." + class_ + " " + class_[0].lower()
        outstring_mappings += "\n<ontologyPredicateMapping id=\"M" + str(mapping_counter) + "_" + class_ + "\">" + \
        "\n<" + word + " string=" + base_iri + "#" + class_ + ">"
        if not from_relation:
            outstring_mappings += "\n<template>" + base_iri + class_.lower() + "{" + class_.lower() + "_id}" + "</template>"
        else:
            outstring_mappings += "\n<domainTemplate>" + base_iri + domain + "{" + domain + "_id}" + "</domainTemplate>\n<rangeTemplate>" + base_iri + base_iri + range_ + "{" + range_ + "_id}" + "</rangeTemplate>"
        outstring_mappings += "\n</" + word + ">"
        outstring_mappings += head_string + "\n</ontologyPredicateMapping>\n"
        
        for attr in attributes_set:
            mapping_counter += 1
            outstring_mappings += "\n<ontologyPredicateMapping id=\"M" + str(mapping_counter) + "_" + attr + "\">" + \
            "\n<" + "attribute" + " string=" + base_iri + "#" + class_ + ">"
            outstring_mappings += "\n<domainTemplate>" + base_iri + class_.lower() + "{" + class_.lower() + "_id}" + "</domainTemplate>"
            outstring_mappings += "\n<rangeVariable>" + attr + "</rangeVariable> "+ "\n</" + word + ">"
            outstring_mappings += head_string + "\n</ontologyPredicateMapping>\n"
        
        outstring_mappings += "\n<primitiveView>" + "\n<HEAD string=\"" + class_ + "_view(" + class_ + "_id)\"/>" 
        outstring_mappings += "\n<SQLQuery> " + query + " </SQLQuery>\n</primitiveView>\n"
    outstring_mappings += "\n</mappings>\n<blocks/>\n<constraints/>\n</OBDA>"

    print (outstring_mappings)
    mapf.write(outstring_mappings)

<?xml version="1.0" encoding="UTF-8"?>
<OBDA version="1.0">
<dataSource databaseDriver="org.postgresql.Driver" databaseName=""
databasePassword="postgres"
databaseURL="jdbc:postgresql://localhost/comics_db"
databaseUsername="postgres" name="datasource"/>
<prefixes>
<prefix name="owl:" namespace="http://www.w3.org/2002/07/owl#"/>
<prefix name="rdf:" namespace="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
<prefix name="sh:" namespace="http://books//#>
<prefix name="xsd:" namespace="http://www.w3.org/2001/XMLSchema#"/>
<prefix name=":" namespace="http://books/>
<prefix name="xml:" namespace="http://www.w3.org/XML/1998/namespace"/>
<prefix name="rdfs:" namespace="http://www.w3.org/2000/01/rdf-schema#"/>
</prefixes>
<templates>
<template>http://books/foundedby_{_}</template>
<template>http://books/hascitylocation_{_}</template>
<template>http://books/fictionalnothuman_{_}</template>
<template>http://books/hasmayor_{_}</template>
<template>http://books/hasauthor_genre_{_}</template>
<template>http://books/language_{_}</template>
<template>http://books/hasedition_{_}</template>
<template>http://books/edition_{_}</template>
<template>http://books/author_{_}</template>
<template>http://books/mayor_{_}</template>
<template>http://books/bookwrittenin_{_}</template>
<template>http://books/hasaward_{_}</template>
<template>http://books/translator_{_}</template>
<template>http://books/fictionalhuman_{_}</template>
<template>http://books/book_{_}</template>
<template>http://books/speaks_{_}</template>
<template>http://books/character_{_}</template>
<template>http://books/hasforewordauthor_{_}</template>
<template>http://books/human_{_}</template>
<template>http://books/hascharacter_{_}</template>
<template>http://books/locatedin_{_}</template>
<template>http://books/fictionalcity_{_}</template>
<template>http://books/hasusedlanguage_{_}</template>
<template>http://books/realcity_{_}</template>
<template>http://books/award_{_}</template>
<template>http://books/haspublisher_{_}</template>
<template>http://books/hasauthor_{_}</template>
<template>http://books/country_{_}</template>
<template>http://books/publisher_{_}</template>
<template>http://books/hasrole_{_}</template>
<template>http://books/hasafterwordauthor_{_}</template>
<template>http://books/city_{_}</template>
<template>http://books/fictionalcharacter_{_}</template>
<template>http://books/placeofdeath_{_}</template>
<template>http://books/followedby_{_}</template>
<template>http://books/placeofbirth_{_}</template>
<template>http://books/hastranslator_{_}</template>
<template>http://books/hascountry_{_}</template>
<template>http://books/hascountrylocation_{_}</template>
<template>http://books/author_genre_{_}</template>
<template>http://books/influencedby_{_}</template>
<template>http://books/hasillustrator_{_}</template>
<template>http://books/hasanalog_{_}</template>
</templates>
<mappings>

<ontologyPredicateMapping id="M1_foundedBy">
<role string=http://books/#foundedBy>
<domainTemplate>http://books/DOM{DOM_id}</domainTemplate>
<rangeTemplate>http://books/http://books/RANGE{RANGE_id}</rangeTemplate>
</role>
<HEAD string="foundedBy_view(publisher_id, human_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M2_publisher_id">
<attribute string=http://books/#foundedBy>
<domainTemplate>http://books/foundedby{foundedby_id}</domainTemplate>
<rangeVariable>publisher_id</rangeVariable>
</role>
<HEAD string="foundedBy_view(publisher_id, human_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M3_human_id">
<attribute string=http://books/#foundedBy>
<domainTemplate>http://books/foundedby{foundedby_id}</domainTemplate>
<rangeVariable>human_id</rangeVariable>
</role>
<HEAD string="foundedBy_view(publisher_id, human_id)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="foundedBy_view(foundedBy_id)"/>
<SQLQuery> SELECT f.publisher_id AS publisher_id, f.human_id AS human_id FROM book_db.foundedBy f </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M4_hasCityLocation">
<role string=http://books/#hasCityLocation>
<domainTemplate>http://books/DOM{DOM_id}</domainTemplate>
<rangeTemplate>http://books/http://books/RANGE{RANGE_id}</rangeTemplate>
</role>
<HEAD string="hasCityLocation_view(city_id, book_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M5_city_id">
<attribute string=http://books/#hasCityLocation>
<domainTemplate>http://books/hascitylocation{hascitylocation_id}</domainTemplate>
<rangeVariable>city_id</rangeVariable>
</role>
<HEAD string="hasCityLocation_view(city_id, book_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M6_book_id">
<attribute string=http://books/#hasCityLocation>
<domainTemplate>http://books/hascitylocation{hascitylocation_id}</domainTemplate>
<rangeVariable>book_id</rangeVariable>
</role>
<HEAD string="hasCityLocation_view(city_id, book_id)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="hasCityLocation_view(hasCityLocation_id)"/>
<SQLQuery> SELECT h.city_id AS city_id, h.book_id AS book_id FROM book_db.hasCityLocation h </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M7_FictionalNotHuman">
<concept string=http://books/#FictionalNotHuman>
<template>http://books/fictionalnothuman{fictionalnothuman_id}</template>
</concept>
<HEAD string="FictionalNotHuman_vie)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="FictionalNotHuman_view(FictionalNotHuman_id)"/>
<SQLQuery> SELEC FROM book_db.FictionalNotHuman f </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M8_hasMayor">
<role string=http://books/#hasMayor>
<domainTemplate>http://books/DOM{DOM_id}</domainTemplate>
<rangeTemplate>http://books/http://books/RANGE{RANGE_id}</rangeTemplate>
</role>
<HEAD string="hasMayor_view(mayor_id, realcity_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M9_mayor_id">
<attribute string=http://books/#hasMayor>
<domainTemplate>http://books/hasmayor{hasmayor_id}</domainTemplate>
<rangeVariable>mayor_id</rangeVariable>
</role>
<HEAD string="hasMayor_view(mayor_id, realcity_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M10_realcity_id">
<attribute string=http://books/#hasMayor>
<domainTemplate>http://books/hasmayor{hasmayor_id}</domainTemplate>
<rangeVariable>realcity_id</rangeVariable>
</role>
<HEAD string="hasMayor_view(mayor_id, realcity_id)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="hasMayor_view(hasMayor_id)"/>
<SQLQuery> SELECT h.mayor_id AS mayor_id, h.realcity_id AS realcity_id FROM book_db.hasMayor h </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M11_hasAuthor_Genre">
<role string=http://books/#hasAuthor_Genre>
<domainTemplate>http://books/DOM{DOM_id}</domainTemplate>
<rangeTemplate>http://books/http://books/RANGE{RANGE_id}</rangeTemplate>
</role>
<HEAD string="hasAuthor_Genre_view(author_genre_id, author_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M12_author_genre_id">
<attribute string=http://books/#hasAuthor_Genre>
<domainTemplate>http://books/hasauthor_genre{hasauthor_genre_id}</domainTemplate>
<rangeVariable>author_genre_id</rangeVariable>
</role>
<HEAD string="hasAuthor_Genre_view(author_genre_id, author_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M13_author_id">
<attribute string=http://books/#hasAuthor_Genre>
<domainTemplate>http://books/hasauthor_genre{hasauthor_genre_id}</domainTemplate>
<rangeVariable>author_id</rangeVariable>
</role>
<HEAD string="hasAuthor_Genre_view(author_genre_id, author_id)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="hasAuthor_Genre_view(hasAuthor_Genre_id)"/>
<SQLQuery> SELECT h.author_genre_id AS author_genre_id, h.author_id AS author_id FROM book_db.hasAuthor_Genre h </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M14_Language">
<concept string=http://books/#Language>
<template>http://books/language{language_id}</template>
</concept>
<HEAD string="Language_view(num_speakers, language_label, language_id, language_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M15_num_speakers">
<attribute string=http://books/#Language>
<domainTemplate>http://books/language{language_id}</domainTemplate>
<rangeVariable>num_speakers</rangeVariable>
</concept>
<HEAD string="Language_view(num_speakers, language_label, language_id, language_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M16_language_label">
<attribute string=http://books/#Language>
<domainTemplate>http://books/language{language_id}</domainTemplate>
<rangeVariable>language_label</rangeVariable>
</concept>
<HEAD string="Language_view(num_speakers, language_label, language_id, language_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M17_language_id">
<attribute string=http://books/#Language>
<domainTemplate>http://books/language{language_id}</domainTemplate>
<rangeVariable>language_id</rangeVariable>
</concept>
<HEAD string="Language_view(num_speakers, language_label, language_id, language_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M18_language_description">
<attribute string=http://books/#Language>
<domainTemplate>http://books/language{language_id}</domainTemplate>
<rangeVariable>language_description</rangeVariable>
</concept>
<HEAD string="Language_view(num_speakers, language_label, language_id, language_description)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="Language_view(Language_id)"/>
<SQLQuery> SELECT l.num_speakers AS num_speakers, l.language_label AS language_label, l.language_id AS language_id, l.language_description AS language_description FROM book_db.Language l </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M19_hasEdition">
<role string=http://books/#hasEdition>
<domainTemplate>http://books/DOM{DOM_id}</domainTemplate>
<rangeTemplate>http://books/http://books/RANGE{RANGE_id}</rangeTemplate>
</role>
<HEAD string="hasEdition_view(edition_id, book_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M20_edition_id">
<attribute string=http://books/#hasEdition>
<domainTemplate>http://books/hasedition{hasedition_id}</domainTemplate>
<rangeVariable>edition_id</rangeVariable>
</role>
<HEAD string="hasEdition_view(edition_id, book_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M21_book_id">
<attribute string=http://books/#hasEdition>
<domainTemplate>http://books/hasedition{hasedition_id}</domainTemplate>
<rangeVariable>book_id</rangeVariable>
</role>
<HEAD string="hasEdition_view(edition_id, book_id)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="hasEdition_view(hasEdition_id)"/>
<SQLQuery> SELECT h.edition_id AS edition_id, h.book_id AS book_id FROM book_db.hasEdition h </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M22_Edition">
<concept string=http://books/#Edition>
<template>http://books/edition{edition_id}</template>
</concept>
<HEAD string="Edition_view(edition_id, edition_label, edition_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M23_edition_id">
<attribute string=http://books/#Edition>
<domainTemplate>http://books/edition{edition_id}</domainTemplate>
<rangeVariable>edition_id</rangeVariable>
</concept>
<HEAD string="Edition_view(edition_id, edition_label, edition_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M24_edition_label">
<attribute string=http://books/#Edition>
<domainTemplate>http://books/edition{edition_id}</domainTemplate>
<rangeVariable>edition_label</rangeVariable>
</concept>
<HEAD string="Edition_view(edition_id, edition_label, edition_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M25_edition_description">
<attribute string=http://books/#Edition>
<domainTemplate>http://books/edition{edition_id}</domainTemplate>
<rangeVariable>edition_description</rangeVariable>
</concept>
<HEAD string="Edition_view(edition_id, edition_label, edition_description)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="Edition_view(Edition_id)"/>
<SQLQuery> SELECT e.edition_id AS edition_id, e.edition_label AS edition_label, e.edition_description AS edition_description FROM book_db.Edition e </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M26_Author">
<concept string=http://books/#Author>
<template>http://books/author{author_id}</template>
</concept>
<HEAD string="Author_view(author_label, author_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M27_author_label">
<attribute string=http://books/#Author>
<domainTemplate>http://books/author{author_id}</domainTemplate>
<rangeVariable>author_label</rangeVariable>
</concept>
<HEAD string="Author_view(author_label, author_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M28_author_description">
<attribute string=http://books/#Author>
<domainTemplate>http://books/author{author_id}</domainTemplate>
<rangeVariable>author_description</rangeVariable>
</concept>
<HEAD string="Author_view(author_label, author_description)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="Author_view(Author_id)"/>
<SQLQuery> SELECT a.author_label AS author_label, a.author_description AS author_description FROM book_db.Author a </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M29_Mayor">
<concept string=http://books/#Mayor>
<template>http://books/mayor{mayor_id}</template>
</concept>
<HEAD string="Mayor_view(start_time, end_time, mayor_description, official_residence, mayor_label, mayor_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M30_start_time">
<attribute string=http://books/#Mayor>
<domainTemplate>http://books/mayor{mayor_id}</domainTemplate>
<rangeVariable>start_time</rangeVariable>
</concept>
<HEAD string="Mayor_view(start_time, end_time, mayor_description, official_residence, mayor_label, mayor_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M31_end_time">
<attribute string=http://books/#Mayor>
<domainTemplate>http://books/mayor{mayor_id}</domainTemplate>
<rangeVariable>end_time</rangeVariable>
</concept>
<HEAD string="Mayor_view(start_time, end_time, mayor_description, official_residence, mayor_label, mayor_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M32_mayor_description">
<attribute string=http://books/#Mayor>
<domainTemplate>http://books/mayor{mayor_id}</domainTemplate>
<rangeVariable>mayor_description</rangeVariable>
</concept>
<HEAD string="Mayor_view(start_time, end_time, mayor_description, official_residence, mayor_label, mayor_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M33_official_residence">
<attribute string=http://books/#Mayor>
<domainTemplate>http://books/mayor{mayor_id}</domainTemplate>
<rangeVariable>official_residence</rangeVariable>
</concept>
<HEAD string="Mayor_view(start_time, end_time, mayor_description, official_residence, mayor_label, mayor_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M34_mayor_label">
<attribute string=http://books/#Mayor>
<domainTemplate>http://books/mayor{mayor_id}</domainTemplate>
<rangeVariable>mayor_label</rangeVariable>
</concept>
<HEAD string="Mayor_view(start_time, end_time, mayor_description, official_residence, mayor_label, mayor_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M35_mayor_id">
<attribute string=http://books/#Mayor>
<domainTemplate>http://books/mayor{mayor_id}</domainTemplate>
<rangeVariable>mayor_id</rangeVariable>
</concept>
<HEAD string="Mayor_view(start_time, end_time, mayor_description, official_residence, mayor_label, mayor_id)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="Mayor_view(Mayor_id)"/>
<SQLQuery> SELECT m.start_time AS start_time, m.end_time AS end_time, m.mayor_description AS mayor_description, m.official_residence AS official_residence, m.mayor_label AS mayor_label, m.mayor_id AS mayor_id FROM book_db.Mayor m </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M36_BookWrittenIn">
<role string=http://books/#BookWrittenIn>
<domainTemplate>http://books/DOM{DOM_id}</domainTemplate>
<rangeTemplate>http://books/http://books/RANGE{RANGE_id}</rangeTemplate>
</role>
<HEAD string="BookWrittenIn_view(language_id, book_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M37_language_id">
<attribute string=http://books/#BookWrittenIn>
<domainTemplate>http://books/bookwrittenin{bookwrittenin_id}</domainTemplate>
<rangeVariable>language_id</rangeVariable>
</role>
<HEAD string="BookWrittenIn_view(language_id, book_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M38_book_id">
<attribute string=http://books/#BookWrittenIn>
<domainTemplate>http://books/bookwrittenin{bookwrittenin_id}</domainTemplate>
<rangeVariable>book_id</rangeVariable>
</role>
<HEAD string="BookWrittenIn_view(language_id, book_id)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="BookWrittenIn_view(BookWrittenIn_id)"/>
<SQLQuery> SELECT b.language_id AS language_id, b.book_id AS book_id FROM book_db.BookWrittenIn b </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M39_hasAward">
<role string=http://books/#hasAward>
<domainTemplate>http://books/DOM{DOM_id}</domainTemplate>
<rangeTemplate>http://books/http://books/RANGE{RANGE_id}</rangeTemplate>
</role>
<HEAD string="hasAward_view(award_id, author_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M40_award_id">
<attribute string=http://books/#hasAward>
<domainTemplate>http://books/hasaward{hasaward_id}</domainTemplate>
<rangeVariable>award_id</rangeVariable>
</role>
<HEAD string="hasAward_view(award_id, author_id)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M41_author_id">
<attribute string=http://books/#hasAward>
<domainTemplate>http://books/hasaward{hasaward_id}</domainTemplate>
<rangeVariable>author_id</rangeVariable>
</role>
<HEAD string="hasAward_view(award_id, author_id)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="hasAward_view(hasAward_id)"/>
<SQLQuery> SELECT h.award_id AS award_id, h.author_id AS author_id FROM book_db.hasAward h </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M42_Translator">
<concept string=http://books/#Translator>
<template>http://books/translator{translator_id}</template>
</concept>
<HEAD string="Translator_view(translator_label, translator_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M43_translator_label">
<attribute string=http://books/#Translator>
<domainTemplate>http://books/translator{translator_id}</domainTemplate>
<rangeVariable>translator_label</rangeVariable>
</concept>
<HEAD string="Translator_view(translator_label, translator_description)"/>
</ontologyPredicateMapping>

<ontologyPredicateMapping id="M44_translator_description">
<attribute string=http://books/#Translator>
<domainTemplate>http://books/translator{translator_id}</domainTemplate>
<rangeVariable>translator_description</rangeVariable>
</concept>
<HEAD string="Translator_view(translator_label, translator_description)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="Translator_view(Translator_id)"/>
<SQLQuery> SELECT t.translator_label AS translator_label, t.translator_description AS translator_description FROM book_db.Translator t </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M45_FictionalHuman">
<concept string=http://books/#FictionalHuman>
<template>http://books/fictionalhuman{fictionalhuman_id}</template>
</concept>
<HEAD string="FictionalHuman_vie)"/>
</ontologyPredicateMapping>

<primitiveView>
<HEAD string="FictionalHuman_view(FictionalHuman_id)"/>
<SQLQuery> SELEC FROM book_db.FictionalHuman f </SQLQuery>
</primitiveView>

<ontologyPredicateMapping id="M46_Book">
<concept string=http://books/#Book>
<template>http://books/book{book_id}</template>
</concept>
<HEAD string="Book_view(book_description, book_label, book_id, title, subtitle)"/>
</ontologyPredicateMapping>
